<div class="container-fluid p-0 vh-100">
  <div class="row g-0 h-100">
    <div class="col-12 col-md-6 h-100 d-none d-md-block">
      <auth-banner class="w-100 h-100" />
    </div>

    <div class="col-12 col-md-6 h-100 auth-form-bg position-relative d-flex align-items-center justify-content-center px-4 py-5 shadow-lg">
      <img src="/logo.png" alt="Backlog Slayer" class="logo-small position-absolute top-0 end-0 m-3" />
      <div class="w-100" style="max-width: 550px;">
        <router-outlet/>
      </div>
    </div>
  </div>
</div>
