<div class="survey-container">
  <button class="nav prev" (click)="prevStep()" [disabled]="step === 0">
    <i class="bi bi-caret-left-fill"></i>
  </button>

  <div class="form-container">
    <div class="step active">
      <h2>
        {{
        steps[step].dynamic
        ? getTagQuestion()
        : steps[step].question
        }}
      </h2>

      <div class="hr-line"></div>

      <div class="options">
        <button *ngFor="let option of (steps[step].dynamic ? getTagOptions() : steps[step].options)"
          (click)="selectOption(steps[step].controlName, option)"
          [class.selected]="steps[step].dynamic
            ? isTagSelected(option.value)
            : form.get(steps[step].controlName)?.value === option.value">
          {{ option.label }}
        </button>
      </div>
    </div>
  </div>

  <button class="nav next" *ngIf="step === 3" (click)="nextStep()">
    <i class="bi bi-caret-right-fill"></i>
  </button>

  <button class="nav next" *ngIf="step === steps.length - 1" (click)="confirm()">
    <i class="bi bi-hand-thumbs-up-fill"></i>
  </button>
</div>